body {
    background-color: rgba(79, 126, 226,0.5);
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button {
    padding: 5px 20px;
    background-color: rgba(200,200,200, 0.5);
    border-style: none;
}
input {
    height: 20px;
}
